* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d1d1d1;
  background: #1d1d20;
  font-family: "Montserrat", sans-serif;
}


.header {
  overflow: hidden;
  padding: 0;
  display:block;
  justify-content: space-between;
}


.header-right {
  float: right;
}

.header .logo {
  width:30%;
  max-width: 150px;
  
}

.logo:hover {
  filter: drop-shadow(1px 1px 5px white);
  transition: 0.5s;
}

.links {
  width: 30%;
  max-width: 55px;
  padding: 10px;
}


.links:hover {
  width: 63px;
}

.social-links {
  text-decoration: none;
}

.social-links:hover {
  filter: drop-shadow(1px 1px 3px white);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.conj-prim-card {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.card {
  padding: 30px;
  border-radius: 30px;
  background: #1d1d20;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  display: inline-block;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
  transition: 1s;
}

.card-2 {
  width: 300px;
  height: 254px;
  border-radius: 20px;
  background: #1d1d20;
  display: flex;
  gap: 5px;
  padding: 0.4em;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card-2 p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background: #1d1d20;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2 p:hover {
  flex: 4;
}

.card-2 p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: #d1d1d1;
  letter-spacing: 0.1em;
}

.card-2 p:hover span {
  transform: rotate(0);
}

.social {
  font-size: min(30px, 5vw);
  justify-content: space-around;
  list-style: none;
  margin: 20px 0;
  list-style: none;
  line-height: 70px;
}

.sites {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
  color: #d1d1d1;
}

.sites:hover {
  font-size: min(15px, 5vw);
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
  transition: 3s;
  border-radius: 20px;
}

h1 {
  font-size: max(50px, 5vw);
  text-align: justify;
  font-weight: 600;
  margin: 30px;
  position: relative;
}

h2 {
  font-size: min(40px, 10vw);
  text-align: justify;
  font-weight: 600;
  margin: 0 30px 30px 30px;
  position: relative;
}

p {
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  position: relative;
  margin: 0;
}

.footer {
  text-align: right;
  width: 100%;

  padding: 35px 0 10px;
  font-size: 14px;
  position: relative;
}

/*--------------------external-bord----*/

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
  min-width: min(40rem, 100%);
  max-width: 1170px;
  margin: auto;
}

.box {
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw 3vw 0;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
